In [1]:
import pandas as pd
df = pd.read_csv('data_sf.csv')

In [7]:
len(df['Club'].value_counts())

650

In [12]:
df['Club'].value_counts()

Shonan Bellmare              30
V-Varen Nagasaki             30
Vissel Kobe                  29
Padova                       29
De Graafschap                29
FC Emmen                     29
Colchester United            28
Curicó Unido                 28
San Martín de San Juan       28
Cosenza                      28
Exeter City                  28
Livingston FC                28
Bury                         28
Lincoln City                 28
Sangju Sangmu FC             28
Al Batin                     28
Mansfield Town               28
FC Carl Zeiss Jena           28
Crewe Alexandra              28
FC Energie Cottbus           28
Cambridge United             28
SV Meppen                    28
Stevenage                    28
Morecambe                    28
VfL Sportfreunde Lotte       28
Sagan Tosu                   28
Coventry City                28
Doncaster Rovers             28
Northampton Town             28
Yeovil Town                  28
                             ..
Fluminense                   10
PAOK                         10
1. FC Köln                   10
Celtic                       10
AZ Alkmaar                   10
Fenerbahçe SK                10
Clube Sport Marítimo         10
Shakhtar Donetsk             10
Fiorentina                   10
Royal Antwerp FC             10
Botafogo                     10
Derby County                 10
KRC Genk                     10
En Avant de Guingamp         10
Club Brugge KV                9
Udinese                       9
KAA Gent                      9
Cagliari                      9
Kasimpaşa SK                  9
Internacional                 9
América FC (Minas Gerais)     9
OGC Nice                      9
Cruzeiro                      8
Olympiacos CFP                8
FC Metz                       8
Dijon FCO                     8
Dinamo Zagreb                 7
GD Chaves                     7
Vitória Guimarães             7
Atlético Mineiro              6
Name: Club, Length: 650, dtype: int64

In [13]:
df['Position'].value_counts(normalize = True)

GK     0.127239
ST     0.117237
CB     0.108785
CM     0.082732
LB     0.077692
RB     0.073505
RM     0.059394
LM     0.056447
CDM    0.053578
CAM    0.049081
RCB    0.032411
LCB    0.031713
LW     0.018764
RCM    0.018609
RW     0.018376
LCM    0.018066
LDM    0.011476
RDM    0.010700
LS     0.009382
RS     0.008839
RWB    0.005428
LWB    0.004652
CF     0.003954
LF     0.000620
RF     0.000465
LAM    0.000465
RAM    0.000388
Name: Position, dtype: float64

In [20]:
df['FKAccuracy'].value_counts(normalize = True, bins = 5)

(21.2, 39.4]     0.376754
(39.4, 57.6]     0.306816
(57.6, 75.8]     0.163449
(2.908, 21.2]    0.136466
(75.8, 94.0]     0.016515
Name: FKAccuracy, dtype: float64

In [23]:
df[df.Nationality == 'Spain'].Wage.value_counts(normalize = True, bins = 4)

(620.999, 95750.0]      0.970194
(95750.0, 190500.0]     0.016393
(190500.0, 285250.0]    0.008942
(285250.0, 380000.0]    0.004471
Name: Wage, dtype: float64

In [25]:
df[df.Club == 'Manchester United'].Nationality.nunique()

13

In [29]:
df[(df.Nationality == 'Brazil') & (df.Club == 'Juventus')].Name.unique()

array(['Alex Sandro', 'Douglas Costa'], dtype=object)

In [30]:
df[df.Age > 35].Club.value_counts()

Hokkaido Consadole Sapporo             4
Club Atlético Huracán                  4
Estudiantes de La Plata                3
Club Atlético Talleres                 3
Club Atlético Tigre                    3
Gimnasia y Esgrima La Plata            3
Benevento                              3
Club Atlético Colón                    3
Morecambe                              3
San Martín de San Juan                 3
Nagoya Grampus                         3
Hammarby IF                            3
Jeonbuk Hyundai Motors                 2
SK Brann                               2
Chievo Verona                          2
Guizhou Hengfeng FC                    2
SV Zulte-Waregem                       2
Wycombe Wanderers                      2
Al Hilal                               2
Júbilo Iwata                           2
Yeovil Town                            2
Livorno                                2
Atlético Bucaramanga                   2
San Lorenzo de Almagro                 2
FC Zürich                              2
Rangers FC                             2
Rochdale                               2
MKE Ankaragücü                         2
Ohod Club                              2
Jaguares de Córdoba                    2
                                      ..
Newport County                         1
PEC Zwolle                             1
Trelleborgs FF                         1
Cruz Azul                              1
Brighton & Hove Albion                 1
Club Tijuana                           1
Crystal Palace                         1
Kristiansund BK                        1
Djurgårdens IF                         1
Pogoń Szczecin                         1
Monarcas Morelia                       1
CD Universidad de Concepción           1
Watford                                1
Arsenal                                1
Bournemouth                            1
Reading                                1
Villarreal CF                          1
Pescara                                1
Athletic Club de Bilbao                1
Gamba Osaka                            1
Chongqing Dangdai Lifan FC SWM Team    1
Cagliari                               1
Patronato                              1
Cittadella                             1
Perth Glory                            1
Wisła Kraków                           1
Rayo Vallecano                         1
Al Nassr                               1
Club Deportes Temuco                   1
Paris Saint-Germain                    1
Name: Club, Length: 212, dtype: int64

In [31]:
df[df.Nationality == 'Argentina'].Age.value_counts(bins = 4)

(22.25, 28.5]      200
(15.974, 22.25]    197
(28.5, 34.75]      128
(34.75, 41.0]       49
Name: Age, dtype: int64

In [32]:
df[(df.Nationality == 'Spain')].Age.value_counts(normalize = True)

21    0.117735
22    0.095380
20    0.077496
23    0.071535
25    0.064083
27    0.062593
24    0.059613
28    0.053651
26    0.053651
29    0.047690
19    0.047690
18    0.038748
30    0.038748
31    0.032787
32    0.032787
33    0.031297
34    0.022355
17    0.013413
35    0.011923
36    0.010432
37    0.008942
39    0.002981
16    0.002981
38    0.001490
Name: Age, dtype: float64

In [43]:
g = df.groupby(['Position'])['Wage'].sum()
display(g[g > 5000000].sort_values(ascending = False))

Position
ST     11873000
GK      8784000
CB      7476000
CM      6194000
LB      6096000
CAM     5500000
LM      5440000
RM      5098000
RB      5034000
Name: Wage, dtype: int64

In [45]:
df.groupby(['Nationality'])[['Wage','Age','ShotPower']].mean().sort_values(['Wage'], ascending = False).head(10)

                            Wage        Age  ShotPower
Nationality
Dominican Republic  71000.000000  23.000000  75.500000
Egypt               35545.454545  25.818182  59.363636
Gabon               28900.000000  26.400000  56.900000
Croatia             26722.222222  24.819444  54.305556
Equatorial Guinea   25666.666667  28.000000  55.333333
Belgium             20024.390244  24.030488  56.390244
Ecuador             18333.333333  24.619048  60.666667
Uruguay             17590.361446  26.771084  56.192771
Brazil              17371.158392  27.898345  58.203310
Algeria             15810.810811  27.027027  56.567568

In [47]:
df.groupby(['Position'])['Wage', 'Value'].mean().sort_values(['Value'], ascending = False)

                   Wage         Value
Position
LF         75125.000000  2.736250e+07
RF        119000.000000  2.636583e+07
LAM        61000.000000  1.324583e+07
RAM        11800.000000  8.345000e+06
LS         15421.487603  5.848430e+06
LCM        13497.854077  4.318090e+06
RCM        13504.166667  4.217604e+06
RS         13482.456140  3.645833e+06
LW         12169.421488  3.603099e+06
RW         13822.784810  3.495738e+06
LDM        10243.243243  3.369459e+06
RCB        11270.334928  3.009055e+06
CAM         8688.783570  2.963199e+06
RDM        11282.608696  2.692717e+06
LCB         9753.056235  2.636516e+06
LM          7472.527473  2.466174e+06
ST          7852.513228  2.157252e+06
RM          6655.352480  2.138734e+06
LWB         5783.333333  1.931333e+06
CF          4862.745098  1.848627e+06
CDM         7121.562952  1.658900e+06
CM          5805.060918  1.617465e+06
RWB         6000.000000  1.555571e+06
GK          5352.833638  1.502502e+06
LB          6083.832335  1.429032e+06
CB          5328.581611  1.321251e+06
RB          5310.126582  1.248940e+06

In [61]:
g = df.groupby(['Club'])['Wage'].agg(['mean', 'median'])
g.columns = ['Mean', 'Median']
display(len(g[g.Mean == g.Median]))

52

In [65]:
g = df.groupby(['Club'])['Wage'].agg(['mean', 'median'])
g.columns = ['Mean', 'Median']

g = g[g.Mean == g.Median]
display(g[g.Mean == g.Mean.max()])

             Mean  Median
Club
Cruzeiro  13000.0   13000

In [71]:
df[df.Club == 'Chelsea'].groupby(['Club'])['Wage'].sum()

Club
Chelsea    2035000
Name: Wage, dtype: int64

In [79]:
df[(df.Nationality == 'Argentina') & (df.Age == 30)]['Wage'].min()

1000

In [87]:
df[(df.Club == 'FC Barcelona') & (df.Nationality == 'Argentina')].groupby(['Club'])['Strength', 'Balance'].max()

              Strength  Balance
Club
FC Barcelona        59       95