In [1]:
import pandas as pd
import json

with open('recipes.json') as f:
    recipes = json.load(f)

df = pd.DataFrame(recipes)

In [39]:
df.head()

       cuisine     id                                        ingredients
0        greek  10259  [romaine lettuce, black olives, grape tomatoes...
1  southern_us  25693  [plain flour, ground pepper, salt, tomatoes, g...
2     filipino  20130  [eggs, pepper, salt, mayonaise, cooking oil, g...
3       indian  22213                [water, vegetable oil, wheat, salt]
4       indian  13162  [black pepper, shallots, cornflour, cayenne pe...

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 3 columns):
cuisine        500 non-null object
id             500 non-null int64
ingredients    500 non-null object
dtypes: int64(1), object(2)
memory usage: 11.8+ KB

In [50]:
with open('recipes.json') as f:
    recipes = json.load(f)

df = pd.DataFrame(recipes)

def find_item(item, cell):
    if item in cell:
        return 1
    return 0

ingredients = set()
def add_ingrid(cell):
    for i in cell:        
        ingredients.add(i)

df['ingredients'].apply(lambda cell: add_ingrid(cell))

for i in ingredients:
    df[i] = df['ingredients'].apply(lambda cell: find_item(i, cell))

df['ingredients'] = df['ingredients'].apply(lambda cell: len(cell))

In [51]:
display(df.head(5))

,cuisine,id,ingredients,vegetable juice,yellow cake mix,crusty rolls,fresh tarragon,corn syrup,Sriracha,tomato paste,...,capicola,figs,grated orange,candied orange peel,confit,purple onion,juice,orange liqueur,flax seed meal,peanuts
0,greek,10259,9,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,southern_us,25693,11,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,filipino,20130,12,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,indian,22213,4,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,indian,13162,20,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [52]:
df.to_csv('recipes.csv', index = False)