In [12]:
import pandas as pd

df = pd.read_csv('data_sf.csv')

display(df.describe())

,Unnamed: 0,Age,Value,Wage,Crossing,Finishing,HeadingAccuracy,ShortPassing,Volleys,Dribbling,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
count,12897.000000,12897.000000,1.289700e+04,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,...,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000
mean,6605.040862,24.795379,2.112449e+06,7517.562224,47.076374,42.876328,50.202528,56.026983,40.295030,52.461735,...,46.459874,55.942932,45.655811,46.186710,44.386679,17.218345,16.962317,16.797938,16.950221,17.315965
std,3782.545526,4.872212,6.498424e+06,23061.985387,18.043470,19.096935,17.281593,14.740436,17.080687,18.871643,...,15.479313,11.280631,19.456346,21.172586,20.726546,18.085618,17.349624,16.971411,17.369297,18.335817
min,0.000000,16.000000,0.000000e+00,1000.000000,5.000000,2.000000,4.000000,7.000000,4.000000,4.000000,...,5.000000,12.000000,3.000000,2.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,3357.000000,21.000000,2.500000e+05,1000.000000,35.000000,28.000000,43.000000,50.000000,28.000000,45.000000,...,37.000000,49.000000,29.000000,25.000000,23.000000,8.000000,8.000000,8.000000,8.000000,8.000000
50%,6622.000000,24.000000,5.000000e+05,2000.000000,51.000000,45.000000,54.000000,60.000000,41.000000,58.000000,...,47.000000,56.000000,51.000000,54.000000,51.000000,11.000000,11.000000,11.000000,11.000000,11.000000
75%,9876.000000,28.000000,8.500000e+05,4000.000000,61.000000,59.000000,62.000000,65.000000,53.000000,65.000000,...,58.000000,63.000000,62.000000,64.000000,62.000000,14.000000,14.000000,14.000000,14.000000,14.000000
max,13125.000000,45.000000,1.185000e+08,565000.000000,93.000000,95.000000,94.000000,93.000000,90.000000,97.000000,...,91.000000,96.000000,93.000000,93.000000,91.000000,90.000000,92.000000,91.000000,90.000000,94.000000

In [18]:
df[(df.Age < df.Age.mean())&
        (df.Club == 'FC Barcelona')].Wage.mean()

77454.54545454546

In [21]:
df[df.Wage > df.Wage.mean()].SprintSpeed.mean()

67.56638061585058

In [22]:
df[df.Wage < df.Wage.mean()].SprintSpeed.mean()

62.41425430560645

In [24]:
display(df[df.Wage == df.Wage.max()].Position)

0    RF
Name: Position, dtype: object

In [26]:
display(df[df.Nationality == 'Brazil'].Penalties.sum())

22789

In [27]:
display(df[df.HeadingAccuracy > 50].Age.mean())

25.58771113179944

In [28]:
df[(df.Composure > df.Composure.max() * 0.9) & (df.Reactions > df.Reactions.max() * 0.9)].Age.min()

24

In [30]:
df[df.Age == df.Age.max()].Reactions.mean() - df[df.Age == df.Age.min()].Reactions.mean()

22.642857142857146

In [57]:
import collections 
c = collections.Counter()

for i in df[df.Value > df.Value.mean()].Nationality:
    c[i] += 1
    
display(c.most_common()[0])

('Spain', 211)

In [97]:
import numpy as np
groupped = df[df.Value > df.Value.mean()].groupby(['Nationality'])
display(groupped)

In [37]:
df[(df.Position == 'GK') & (df.GKReflexes == df.GKReflexes.max())].Wage.mean() / df[(df.Position == 'GK') & (df.GKHandling == df.GKHandling.max())].Wage.mean()

2.765957446808511

In [39]:
df[df.Aggression == df.Aggression.max()].ShotPower.mean() / df[df.Aggression == df.Aggression.min()].ShotPower.mean()

2.076923076923077