In [6]:
import pandas as pd

ratings = pd.read_csv('ratings_example.txt', sep='\t')
movies = pd.read_csv('movies_example.txt', sep='\t')

In [7]:
display(ratings.head())
display(movies.head())

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144

   movieId                                      title                   genres
0       31                    Dangerous Minds (1995)                     Drama
1       32  Twelve Monkeys (a.k.a. 12 Monkeys) (1995)  Mystery|Sci-Fi|Thriller
2       31                    Dangerous Minds (1995)                     Drama

In [5]:
ratings.merge(movies, on = 'movieId', how = 'left')

   userId  movieId  rating   timestamp                    title genres
0       1       31     2.5  1260759144  Dangerous Minds (1995)   Drama
1       1       31     2.5  1260759144  Dangerous Minds (1995)   Drama

In [8]:
movies.drop_duplicates(subset = 'movieId', keep = 'first', inplace = True)
display(movies)

   movieId                                      title                   genres
0       31                    Dangerous Minds (1995)                     Drama
1       32  Twelve Monkeys (a.k.a. 12 Monkeys) (1995)  Mystery|Sci-Fi|Thriller