In [41]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
import collections
import calendar

In [226]:
data = pd.read_csv('data.csv')
data.head(5)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015
1,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015
2,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,2480,6.3,2015
3,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,5292,7.5,2015
4,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,2947,7.3,2015

In [3]:
len(data)

1890

# Предобработка датасета

In [4]:
answer_ls = {} # создадим список с ответами. сюда будем добавлять ответы по мере прохождения теста
# сюда можем вписать создание новых колонок в датасете

# 1. У какого фильма из списка самый большой бюджет?
Варианты ответов:
1. The Dark Knight Rises (tt1345836)
2. Spider-Man 3 (tt0413300)
3. Avengers: Age of Ultron (tt2395427)
4. The Warrior's Way	(tt1032751)
5. Pirates of the Caribbean: On Stranger Tides (tt1298650)

In [5]:
answer = data[data.budget == data.budget.max()][['imdb_id', 'original_title']]
display(answer)

answer_ls['1. У какого фильма из списка самый большой бюджет?'] = answer.values

       imdb_id     original_title
491  tt1032751  The Warrior's Way

# 2. Какой из фильмов самый длительный (в минутах)
1. The Lord of the Rings: The Return of the King	(tt0167260)
2. Gods and Generals	(tt0279111)
3. King Kong	(tt0360717)
4. Pearl Harbor	(tt0213149)
5. Alexander	(tt0346491)

In [6]:
answer = data[data.runtime == data.runtime.max()][['imdb_id', 'original_title']]
display(answer)

answer_ls['2. Какой из фильмов самый длительный (в минутах)'] = answer.values

        imdb_id     original_title
1158  tt0279111  Gods and Generals

# 3. Какой из фильмов самый короткий (в минутах)
Варианты ответов:

1. Home on the Range	tt0299172
2. The Jungle Book 2	tt0283426
3. Winnie the Pooh	tt1449283
4. Corpse Bride	tt0121164
5. Hoodwinked!	tt0443536

In [7]:
answer = data[data.runtime == data.runtime.min()][['imdb_id', 'original_title']]
display(answer)

answer_ls['3. Какой из фильмов самый короткий (в минутах)'] = answer.values

       imdb_id   original_title
769  tt1449283  Winnie the Pooh

# 4. Средняя длительность фильма?

Варианты ответов:
1. 115
2. 110
3. 105
4. 120
5. 100

In [8]:
answer = int(data.runtime.mean())
display(answer)

answer_ls['4. Средняя длительность фильма?'] = answer

109

# 5. Средняя длительность фильма по медиане?
Варианты ответов:
1. 106
2. 112
3. 101
4. 120
5. 115

In [9]:
answer = int(data.runtime.median())
display(answer)

answer_ls['5. Средняя длительность фильма по медиане?'] = answer

106

# 6. Какой самый прибыльный фильм?
Варианты ответов:
1. The Avengers	tt0848228
2. Minions	tt2293640
3. Star Wars: The Force Awakens	tt2488496
4. Furious 7	tt2820852
5. Avatar	tt0499549

In [10]:
answer = data[(data.revenue - data.budget) == (data.revenue - data.budget).max()][['imdb_id', 'original_title']]
display(answer)

answer_ls['6. Какой самый прибыльный фильм?'] = answer.values

       imdb_id original_title
239  tt0499549         Avatar

# 7. Какой фильм самый убыточный?
Варианты ответов:
1. Supernova tt0134983
2. The Warrior's Way tt1032751
3. Flushed Away	tt0424095
4. The Adventures of Pluto Nash	tt0180052
5. The Lone Ranger	tt1210819

In [11]:
answer = data[(data.revenue - data.budget) == (data.revenue - data.budget).min()][['imdb_id', 'original_title']]
display(answer)

answer_ls['7. Какой фильм самый убыточный?'] = answer.values

       imdb_id     original_title
491  tt1032751  The Warrior's Way

# 8. Сколько всего фильмов в прибыли?
Варианты ответов:
1. 1478
2. 1520
3. 1241
4. 1135
5. 1398

In [12]:
answer = data[data.revenue - data.budget  > 0].imdb_id.count()
display(answer)

answer_ls['8. Сколько всего фильмов в прибыли?'] = answer

1478

# 9. Самый прибыльный фильм в 2008 году?
Варианты ответов:
1. Madagascar: Escape 2 Africa	tt0479952
2. Iron Man	tt0371746
3. Kung Fu Panda	tt0441773
4. The Dark Knight	tt0468569
5. Mamma Mia!	tt0795421

In [13]:
y2008 = data[data.release_year == 2008]
answer = y2008[(y2008.revenue - y2008.budget) == (y2008.revenue - y2008.budget).max()][['imdb_id', 'original_title']]
display(answer)

answer_ls['9. Самый прибыльный фильм в 2008 году?'] = answer.values

       imdb_id   original_title
600  tt0468569  The Dark Knight

# 10. Самый убыточный фильм за период с 2012 по 2014 (включительно)?
Варианты ответов:
1. Winter's Tale	tt1837709
2. Stolen	tt1656186
3. Broken City	tt1235522
4. Upside Down	tt1374992
5. The Lone Ranger	tt1210819

In [14]:
y20122014 = data[(data.release_year >= 2012) & (data.release_year <= 2014)]
answer = y20122014[(y20122014.revenue - y20122014.budget) == (y20122014.revenue - y20122014.budget).min()][['imdb_id', 'original_title']]
display(answer)

answer_ls['10. Самый убыточный фильм за период с 2012 по 2014 (включительно)?'] = answer.values

        imdb_id   original_title
1246  tt1210819  The Lone Ranger

# 11. Какого жанра фильмов больше всего?
Варианты ответов:
1. Action
2. Adventure
3. Drama
4. Comedy
5. Thriller

In [15]:
genres = []
data.genres.apply(lambda g: [genres.append(x) for x in g.split('|')])
answer = collections.Counter(genres).most_common()[0]
print(answer)

answer_ls['11. Какого жанра фильмов больше всего?'] = answer[0]

('Drama', 782)

# 12. Какого жанра среди прибыльных фильмов больше всего?
Варианты ответов:
1. Drama
2. Comedy
3. Action
4. Thriller
5. Adventure

In [16]:
genres = []
data[data.revenue - data.budget > 0].genres.apply(lambda g: [genres.append(x) for x in g.split('|')])
answer = collections.Counter(genres).most_common()[0]
print(answer)

answer_ls['12. Какого жанра среди прибыльных фильмов больше всего?'] = answer[0]

('Drama', 560)

# 13. Кто из режиссеров снял больше всего фильмов?
Варианты ответов:
1. Steven Spielberg
2. Ridley Scott 
3. Steven Soderbergh
4. Christopher Nolan
5. Clint Eastwood

In [17]:
directors = []
data.director.apply(lambda d: [directors.append(x) for x in d.split('|')])
answer = collections.Counter(directors).most_common()[0]
print(answer)

answer_ls['13. Кто из режиссеров снял больше всего фильмов?'] = answer[0]

('Steven Soderbergh', 13)

# 14. Кто из режиссеров снял больше всего Прибыльных фильмов?
Варианты ответов:
1. Steven Soderbergh
2. Clint Eastwood
3. Steven Spielberg
4. Ridley Scott
5. Christopher Nolan

In [18]:
directors = []
data[data.revenue - data.budget > 0].director.apply(lambda d: [directors.append(x) for x in d.split('|')])
answer = collections.Counter(directors).most_common()[0]
print(answer)

answer_ls['14. Кто из режиссеров снял больше всего Прибыльных фильмов?'] = answer[0]

('Ridley Scott', 12)

# 15. Кто из режиссеров принес больше всего прибыли?
Варианты ответов:
1. Steven Spielberg
2. Christopher Nolan
3. David Yates
4. James Cameron
5. Peter Jackson

In [19]:
income = collections.Counter()
def calc_income(director, money):
    income[director] += money
    
data.apply(lambda row: [calc_income(d, row.revenue - row.budget) for d in row.director.split('|')], axis = 1)
answer = income.most_common()[0]
print(answer)

answer_ls['15. Кто из режиссеров принес больше всего прибыли?'] = answer[0]

('Peter Jackson', 5202593685)

# 16. Какой актер принес больше всего прибыли?
Варианты ответов:
1. Emma Watson
2. Johnny Depp
3. Michelle Rodriguez
4. Orlando Bloom
5. Rupert Grint

In [20]:
income = collections.Counter()
def calc_income(cast, money):
    income[cast] += money
    
data.apply(lambda row: [calc_income(c, row.revenue - row.budget) for c in row.cast.split('|')], axis = 1)
answer = income.most_common()[0]
print(answer)

answer_ls['16. Какой актер принес больше всего прибыли?'] = answer[0]

('Emma Watson', 6666245597)

# 17. Какой актер принес меньше всего прибыли в 2012 году?
Варианты ответов:
1. Nicolas Cage
2. Danny Huston
3. Kirsten Dunst
4. Jim Sturgess
5. Sami Gayle

In [21]:
income = collections.Counter()
def calc_income(cast, money):
    income[cast] += money
    
data[data.release_year == 2012].apply(lambda row: [calc_income(c, row.revenue - row.budget) for c in row.cast.split('|')], axis = 1)
answer = income.most_common()[-1]
print(answer)

answer_ls['17. Какой актер принес меньше всего прибыли в 2012 году?'] = answer[0]

('Kirsten Dunst', -68109207)

# 18. Какой актер снялся в большем количестве высокобюджетных фильмов? (в фильмах где бюджет выше среднего по данной выборке)
Варианты ответов:
1. Tom Cruise
2. Mark Wahlberg 
3. Matt Damon
4. Angelina Jolie
5. Adam Sandler

In [22]:
films = collections.Counter()
def calc_films(cast):
    films[cast] += 1
    
data[data.budget > data.budget.mean()].cast.apply(lambda cast: [calc_films(c) for c in cast.split('|')])
answer = films.most_common()[0]
print(answer)

answer_ls['18. Какой актер снялся в большем количестве высокобюджетных фильмов?'] = answer[0]

('Matt Damon', 18)

# 19. В фильмах какого жанра больше всего снимался Nicolas Cage?  
Варианты ответа:
1. Drama
2. Action
3. Thriller
4. Adventure
5. Crime

In [23]:
films = collections.Counter()
def calc_films(genre):
    films[genre] += 1
    
data[data.cast.str.contains('Nicolas Cage')].genres.apply(lambda genre: [calc_films(g) for g in genre.split('|')])
answer = films.most_common()[0]
print(answer)

answer_ls['19. В фильмах какого жанра больше всего снимался Nicolas Cage?'] = answer[0]

('Action', 17)

# 20. Какая студия сняла больше всего фильмов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [24]:
companies = collections.Counter()
def calc_films(c):
    companies[c] += 1
    
data.production_companies.apply(lambda company: [calc_films(c) for c in company.split('|')])
answer = companies.most_common()[0]
print(answer)

answer_ls['20. Какая студия сняла больше всего фильмов?'] = answer[0]

('Universal Pictures', 173)

# 21. Какая студия сняла больше всего фильмов в 2015 году?
Варианты ответа:
1. Universal Pictures
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [25]:
companies = collections.Counter()
def calc_films(c):
    companies[c] += 1
    
data[data.release_year == 2015].production_companies.apply(lambda company: [calc_films(c) for c in company.split('|')])
answer = companies.most_common()[0]
print(answer)

answer_ls['21. Какая студия сняла больше всего фильмов в 2015 году?'] = answer[0]

('Warner Bros.', 12)

# 22. Какая студия заработала больше всего денег в жанре комедий за все время?
Варианты ответа:
1. Warner Bros
2. Universal Pictures (Universal)
3. Columbia Pictures
4. Paramount Pictures
5. Walt Disney

In [227]:
income = collections.Counter()
def calc_income(company, money):
    income[company] += money
    
data[data.genres.str.contains('Comedy')].apply(lambda row: [calc_income(c, row.revenue - row.budget) for c in row.production_companies.split('|')], axis = 1)
answer = income.most_common()[0]
print(answer)

answer_ls['22. Какая студия заработала больше всего денег в жанре комедий за все время?'] = answer[0]

('Universal Pictures', 8961545581)

# 23. Какая студия заработала больше всего денег в 2012 году?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Columbia Pictures
4. Paramount Pictures
5. Lucasfilm

In [27]:
income = collections.Counter()
def calc_income(company, money):
    income[company] += money
    
data[data.release_year == 2012].apply(lambda row: [calc_income(c, row.revenue - row.budget) for c in row.production_companies.split('|')], axis = 1)
answer = income.most_common()[0]
print(answer)

answer_ls['23. Какая студия заработала больше всего денег в 2012 году?'] = answer[0]

('Columbia Pictures', 2501406608)

# 24. Самый убыточный фильм от Paramount Pictures
Варианты ответа:

1. K-19: The Widowmaker tt0267626
2. Next tt0435705
3. Twisted tt0315297
4. The Love Guru tt0811138
5. The Fighter tt0964517

In [28]:
income = collections.Counter()
def calc_income(film, money):
    income[film] += money
    
data[data.production_companies.str.contains('Paramount Pictures')].apply(lambda row: calc_income(row.original_title, row.revenue - row.budget), axis = 1)
answer = income.most_common()[-1]
print(answer)

answer_ls['24. Самый убыточный фильм от Paramount Pictures'] = answer[0]

('K-19: The Widowmaker', -64831034)

# 25. Какой Самый прибыльный год (заработали больше всего)?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2002
5. 2015

In [229]:
groupped = data.groupby(['release_year'])['revenue', 'budget'].sum().apply(lambda row: row.revenue - row.budget, axis = 1)
answer = groupped[groupped == groupped.max()].index[0]
display(answer)

answer_ls['25. Какой Самый прибыльный год (заработали больше всего)?'] = answer

2015

# 26. Какой Самый прибыльный год для студии Warner Bros?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2010
5. 2015

In [231]:
groupped = data[data.production_companies.str.contains('Warner Bros')].groupby(['release_year'])['revenue', 'budget'].sum().apply(lambda row: row.revenue - row.budget, axis = 1)
answer = groupped[groupped == groupped.max()].index[0]
display(answer)

answer_ls['26. Какой Самый прибыльный год для студии Warner Bros?'] = answer

2014

# 27. В каком месяце за все годы суммарно вышло больше всего фильмов?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [44]:
data['release_month'] = data['release_date'].apply(lambda d: d.split('/')[0])
groupped = data.groupby(['release_month']).imdb_id.count()
month_number =  groupped[groupped == groupped.max()].index[0]
answer = calendar.month_name[int(month_number)] 
display(answer)

answer_ls['27. В каком месяце за все годы суммарно вышло больше всего фильмов?'] = answer

'September'

# 28. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)
Варианты ответа:
1. 345
2. 450
3. 478
4. 523
5. 381

In [53]:
data['release_month'] = data['release_date'].apply(lambda d: d.split('/')[0])
groupped = data.groupby(['release_month']).imdb_id.count()
answer = groupped['6'] + groupped['7'] + groupped['8']
display(answer)

answer_ls['28. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)'] = answer

450

# 29. Какой режисер выпускает (суммарно по годам) больше всего фильмов зимой?
Варианты ответов:
1. Steven Soderbergh
2. Christopher Nolan
3. Clint Eastwood
4. Ridley Scott
5. Peter Jackson

In [59]:
data['release_month'] = data['release_date'].apply(lambda d: d.split('/')[0])
directors = []
data.apply(lambda row: [directors.append(d) for d in row.director.split('|') if row.release_month in ['1', '11', '12']], axis = 1)
answer = collections.Counter(directors).most_common()[0]
print(answer)

answer_ls['29. Какой режисер выпускает (суммарно по годам) больше всего фильмов зимой?'] = answer[0]

('Peter Jackson', 8)

# 30. Какой месяц чаще всего по годам самый прибыльный?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [123]:
data['release_month'] = data['release_date'].apply(lambda d: d.split('/')[0])
data['income'] = data.apply(lambda row: row.revenue - row.budget, axis = 1)

year_groupped = data.groupby(['release_year', 'release_month']).income.sum().reset_index()
year_max = year_groupped.groupby(['release_year']).income.max().reset_index()
year_max.columns = ['release_year', 'max_income']

year_groupped = year_groupped.merge(year_max, on = 'release_year', how = 'left')
year_max = year_groupped[year_groupped.income == year_groupped.max_income]

month_numbers = []
year_max.release_month.apply(lambda m: month_numbers.append(m))

best_month = collections.Counter(month_numbers).most_common()[0]
answer = calendar.month_name[int(best_month[0])]
print(answer)

answer_ls['30. Какой месяц чаще всего по годам самый прибыльный?'] = answer

June

# 31. Названия фильмов какой студии в среднем самые длинные по количеству символов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [137]:
company = []
film_id = []
def add_company(c, f):
    company.append(c)
    film_id.append(f)
    
data.apply(lambda row: [add_company(c, row.imdb_id) for c in row.production_companies.split('|')], axis = 1)
data['title_length'] = data.original_title.apply(lambda t: len(t))

df_company = pd.DataFrame({'company': company, 'imdb_id': film_id})
df_company = df_company.merge(data, on = 'imdb_id', how = 'left')

groupped = df_company.groupby(['company']).title_length.mean().reset_index()
answer = groupped[groupped.title_length == groupped.title_length.max()].iloc[0][0]
display(answer)

answer_ls['31. Названия фильмов какой студии в среднем самые длинные по количеству символов?'] = answer

'Four By Two Productions'

# 32. Названия фильмов какой студии в среднем самые длинные по количеству слов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [138]:
company = []
film_id = []
def add_company(c, f):
    company.append(c)
    film_id.append(f)
    
data.apply(lambda row: [add_company(c, row.imdb_id) for c in row.production_companies.split('|')], axis = 1)
data['title_length'] = data.original_title.apply(lambda t: len(t.split()))

df_company = pd.DataFrame({'company': company, 'imdb_id': film_id})
df_company = df_company.merge(data, on = 'imdb_id', how = 'left')

groupped = df_company.groupby(['company']).title_length.mean().reset_index()
answer = groupped[groupped.title_length == groupped.title_length.max()].iloc[0][0]
display(answer)

answer_ls['32. Названия фильмов какой студии в среднем самые длинные по количеству слов?'] = answer

'Four By Two Productions'

# 33. Сколько разных слов используется в названиях фильмов?(без учета регистра)
Варианты ответа:
1. 6540
2. 1002
3. 2461
4. 28304
5. 3432

In [150]:
words = []
data.original_title.apply(lambda t: [words.append(w.lower()) for w in t.split()])

answer = len(collections.Counter(words).keys())
display(answer)

answer_ls['33. Сколько разных слов используется в названиях фильмов?(без учета регистра)'] = answer

2461

# 34. Какие фильмы входят в 1 процент лучших по рейтингу?
Варианты ответа:
1. Inside Out, Gone Girl, 12 Years a Slave
2. BloodRayne, The Adventures of Rocky & Bullwinkle
3. The Lord of the Rings: The Return of the King
4. 300, Lucky Number Slevin

In [176]:
films_best = data.sort_values(by = 'vote_average', ascending = False).head(int(len(data) / 100))
titles = films_best.original_title
display(titles)

answer_ls['34. Какие фильмы входят в 1 процент лучших по рейтингу?'] = 'Inside Out, Gone Girl, 12 Years a Slave'

600                                       The Dark Knight
125                                    The Imitation Game
9                                              Inside Out
118                                          Interstellar
34                                                   Room
1082        The Lord of the Rings: The Return of the King
873                                           The Pianist
1801                                              Memento
1192                                     12 Years a Slave
128                                             Gone Girl
138                              The Grand Budapest Hotel
119                               Guardians of the Galaxy
1184                              The Wolf of Wall Street
370                                             Inception
316                                              3 Idiots
1564                Eternal Sunshine of the Spotless Mind
497     The Lord of the Rings: The Fellowship of the Ring
28                                              Spotlight
Name: original_title, dtype: object

# 35. Какие актеры чаще всего снимаются в одном фильме вместе
Варианты ответа:
1. Johnny Depp & Helena Bonham Carter
2. Hugh Jackman & Ian McKellen
3. Vin Diesel & Paul Walker
4. Adam Sandler & Kevin James
5. Daniel Radcliffe & Rupert Grint

In [199]:
import itertools
actors = []
data.cast.apply(lambda cast: [actors.append(pair) for pair in itertools.combinations(cast.split('|'), 2)])

answer = collections.Counter(actors).most_common()[0][0]
display(answer)

answer_ls['35. Какие актеры чаще всего снимаются в одном фильме вместе'] = answer

('Daniel Radcliffe', 'Rupert Grint')

# 36. У какого из режиссеров выше вероятность выпустить фильм в прибыли? (5 баллов)101
Варианты ответа:
1. Quentin Tarantino
2. Steven Soderbergh
3. Robert Rodriguez
4. Christopher Nolan
5. Clint Eastwood

In [221]:
directors = []
film_id = []
def add_director(d, f):
    directors.append(d)
    film_id.append(f)
    
data.apply(lambda row: [add_director(d, row.imdb_id) for d in row.director.split('|')], axis = 1)
data['income'] = data.apply(lambda row: row.revenue - row.budget, axis = 1)
data['is_profitable'] = data.income.apply(lambda money: int(money > 0))

df_directors = pd.DataFrame({'ceo': directors, 'imdb_id': film_id})
df_directors = df_directors.merge(data, on = 'imdb_id', how = 'left')

profitable_films = df_directors.groupby('ceo')['is_profitable'].sum().to_dict()
films = df_directors.groupby('ceo')['is_profitable'].count().to_dict()

success_factor = {}
[success_factor.setdefault(director, profitable_films[director] / films[director]) for director in films.keys()]
display(success_factor['Quentin Tarantino'])
display(success_factor['Steven Soderbergh'])
display(success_factor['Robert Rodriguez'])
display(success_factor['Christopher Nolan'])
display(success_factor['Clint Eastwood'])

answer_ls['36. У какого из режиссеров выше вероятность выпустить фильм в прибыли?'] = 'Christopher Nolan'

0.8571428571428571

0.7692307692307693

0.7272727272727273

1.0

0.8333333333333334

# Submission

In [222]:
len(answer_ls)

35

In [233]:
display(answer_ls)

{'1. У какого фильма из списка самый большой бюджет?': array([['tt1032751', "The Warrior's Way"]], dtype=object),
 '2. Какой из фильмов самый длительный (в минутах)': array([['tt0279111', 'Gods and Generals']], dtype=object),
 '3. Какой из фильмов самый короткий (в минутах)': array([['tt1449283', 'Winnie the Pooh']], dtype=object),
 '4. Средняя длительность фильма?': 109,
 '5. Средняя длительность фильма по медиане?': 106,
 '6. Какой самый прибыльный фильм?': array([['tt0499549', 'Avatar']], dtype=object),
 '7. Какой фильм самый убыточный?': array([['tt1032751', "The Warrior's Way"]], dtype=object),
 '8. Сколько всего фильмов в прибыли?': 1478,
 '9. Самый прибыльный фильм в 2008 году?': array([['tt0468569', 'The Dark Knight']], dtype=object),
 '10. Самый убыточный фильм за период с 2012 по 2014 (включительно)?': array([['tt1210819', 'The Lone Ranger']], dtype=object),
 '11. Какого жанра фильмов больше всего?': 'Drama',
 '12. Какого жанра среди прибыльных фильмов больше всего?': 'Drama',
 '13. Кто из режиссеров снял больше всего фильмов?': 'Steven Soderbergh',
 '14. Кто из режиссеров снял больше всего Прибыльных фильмов?': 'Ridley Scott',
 '15. Кто из режиссеров принес больше всего прибыли?': 'Peter Jackson',
 '16. Какой актер принес больше всего прибыли?': 'Emma Watson',
 '17. Какой актер принес меньше всего прибыли в 2012 году?': 'Kirsten Dunst',
 '18. Какой актер снялся в большем количестве высокобюджетных фильмов?': 'Matt Damon',
 '19. В фильмах какого жанра больше всего снимался Nicolas Cage?': 'Action',
 '20. Какая студия сняла больше всего фильмов?': 'Universal Pictures',
 '21. Какая студия сняла больше всего фильмов в 2015 году?': 'Warner Bros.',
 '22. Какая студия заработала больше всего денег в жанре комедий за все время?': 'Universal Pictures',
 '23. Какая студия заработала больше всего денег в 2012 году?': 'Columbia Pictures',
 '24. Самый убыточный фильм от Paramount Pictures': 'K-19: The Widowmaker',
 '25. Какой Самый прибыльный год (заработали больше всего)?': 2015,
 '27. В каком месяце за все годы суммарно вышло больше всего фильмов?': 'September',
 '28. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)': 450,
 '29. Какой режисер выпускает (суммарно по годам) больше всего фильмов зимой?': 'Peter Jackson',
 '30. Какой месяц чаще всего по годам самый прибыльный?': 'June',
 '31. Названия фильмов какой студии в среднем самые длинные по количеству символов?': 'Four By Two Productions',
 '32. Названия фильмов какой студии в среднем самые длинные по количеству слов?': 'Four By Two Productions',
 '33. Сколько разных слов используется в названиях фильмов?(без учета регистра)': 2461,
 '34. Какие фильмы входят в 1 процент лучших по рейтингу?': 'Inside Out, Gone Girl, 12 Years a Slave',
 '35. Какие актеры чаще всего снимаются в одном фильме вместе': ('Daniel Radcliffe',
  'Rupert Grint'),
 '36. У какого из режиссеров выше вероятность выпустить фильм в прибыли?': 'Christopher Nolan',
 '26. Какой Самый прибыльный год для студии Warner Bros?': 2014}